In [8]:
a="string"
print(a)

string

In [9]:
print(type(a))

<class 'str'>

# If else statements

In [10]:
a,b=5,10
if a<b:
    print("b is greter than a")
else :
    print("a is greater than b")

# Loops

b is greter than a

# about loops

In [11]:
subjects=["maths","physics","chemistry","english"];
for i in range(4):
    print(subjects[i]);

maths
physics
chemistry
english

In [12]:
for i in range(0,4):
    print(len(subjects[i]));

5
7
9
7

In [13]:
for i in range(0,9):
    print("{}\n".format(i))

0

1

2

3

4

5

6

7

8

In [14]:
for i in range (0,10,3):
    print(i)

0
3
6
9

In [20]:
my_stirng ="hello world";
for i,char in enumerate(my_stirng):
    print(i,char,"hello world")

0 h hello world
1 e hello world
2 l hello world
3 l hello world
4 o hello world
5   hello world
6 w hello world
7 o hello world
8 r hello world
9 l hello world
10 d hello world

In [18]:
n = int(input("Enter number: "));
while n > 0.5 :
    print(n);
    n=n/2;

Enter number: 5
5
2.5
1.25
0.625

In [22]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

# Functions

In [27]:
def fact(num):
    if num<=1:
        return num;
    else:
        return (num * fact(num-1));

In [28]:
print(fact(5))

120

In [30]:
def add(x,y):
    """
    To add two numbers
    """
    return x+y;

In [31]:
print(add(1,2));
print(add.__doc__)

3

    To add two numbers

In [32]:
captain = "MS Dhone";
string_to_list = lambda x: x.split();
print(string_to_list(captain));

['MS', 'Dhone']

In [35]:
adding=lambda x,y: x+y;
y=adding(1,2);
print(y, type(adding))

3 <class 'function'>

In [36]:
def somefun(*args):
    print(args,sum(args));

In [38]:
l=[1,2,3,4,5]
print(sum(l))

15

# Strings Operations

In [39]:
str="hello world"
x=str[:len(str)]

In [41]:
print(x)

hello world

In [42]:
y=str[1:-1]
print(y)

ello worl

In [43]:
r="this is stringgggggggg";
print(r,r.rstrip('g'))

this is stringgggggggg this is strin

In [44]:
x="as"
y="assignment"
if x in y:
    print("{0} is present in {1}".format(x,y))

as is present in assignment

In [45]:
y=x;
print(y)

as

# Some things about Lists

In [46]:
l = ["math","physics",42,"chemistry"]
print(type(l))

<class 'list'>

In [47]:
for i in range(4):
    print(l[i])

math
physics
42
chemistry

In [48]:
l.append("ML")

In [56]:
i=4;
while i>=0:
    print(l[i])
    i=i-1

ML
chemistry
42
physics
math

In [57]:
l.pop();
print(l)

['math', 'physics', 42, 'chemistry']

In [58]:
x=l.copy()
l.append("some")
print(l,x)

['math', 'physics', 42, 'chemistry', 'some'] ['math', 'physics', 42, 'chemistry']

In [60]:
nums=[1,2,3,4]
for i in range(len(nums)):
    print(nums[i],end=" ")

1 2 3 4

In [61]:
nums[1]="*";
for i in range(4):
    print(nums[i])

1
*
3
4

In [63]:
nums=[1,2,3,4]
print(min(nums))

1

In [64]:
print(max(nums))

4

In [65]:
nums=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
print(len(nums[0]))

4

In [66]:
for i in range(len(nums[1])):
    print(nums[1][i],end=" ")

5 6 7 8

In [68]:
print(max(nums[2]))

12

In [69]:
st="Hello. My name is Vivek Sharma. I am student in IIT Mandi."
l=st.split('.')
print(l)

['Hello', ' My name is Vivek Sharma', ' I am student in IIT Mandi', '']

In [75]:
newsen=".".join(l)
print(newsen)

Hello. My name is Vivek Sharma. I am student in IIT Mandi.

# Tuple

In [77]:
a=(1,3,4,5,6)
print(a)

(1, 3, 4, 5, 6)

In [78]:
b=list(a)
b[0]=0
print(a,b)

(1, 3, 4, 5, 6) [0, 3, 4, 5, 6]

In [79]:
c=tuple(b)
print(c)

(0, 3, 4, 5, 6)

In [80]:
d=[(1,"Hello",'xx')]

In [81]:
print(type(d))

<class 'list'>

In [82]:
f=list(d[0])

In [83]:
print(f)

[1, 'Hello', 'xx']

In [84]:
f[1]=2
print(f)

[1, 2, 'xx']

In [86]:
e=a[:-1]
print(e)

(1, 3, 4, 5)

# Sets

In [92]:
l=['A','B',"C",'D']
nset=set(l)
print(nset)

{'A', 'C', 'B', 'D'}

In [93]:
if 'A' in nset:
    print('A exists')

A exists

In [96]:
c=input("Enter a character: ")
if c in nset:
    print("Given character exist in nset")
else :
    print("Not exist")

Enter a character: A
Given character exist in nset